@import '../../public/assets/uikit/src/scss/variables-theme.scss';
@import '../../public/assets/uikit/src/scss/mixins-theme.scss';
@import '../../public/assets/uikit/src/scss/uikit-theme.scss';

$primary-color: "eceff1";
$primary-light: "#ffffff";
$primary-dark: "#babdbe";
$secondary-color: "#5f178c";
$secondary-light: "#9048bd";
$secondary-dark: "#2e005e";
$primary-text: "#000000";
$secondary-text: "#ffffff";


.text-change {
  color: $secondary-dark;
}
// $navbar-background

.uk-background-primary {
  background-color: $secondary-color;
}
$global-background: $secondary-color;

// what components do we want?
  // NavBar
  // Card